* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}
body{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://st2.depositphotos.com/1000956/6824/i/950/depositphotos_68245531-stock-photo-credit-cards-background.jpg');
}

.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.container .card-container {
    height: 250px;
    width: 400px;
    cursor: pointer;
}

.container .card-container .front{
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #fff; 
}

.container .card-container .front .flexbox .box >span{
    font-size: 15px;
    color: #fff; 
    margin-bottom: 5px;
}

.btn{
    /* display: flex; */
    margin-top:-200px;
    flex-basis: 100%;
    text-align: center;
}

.btn>button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: grey;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}

.btn>button:hover{
    transform: scale(1.05);
    color: blue;
    background-color: white;
    border: 1px solid blue;
}

@media(max-width:1000px){
    .btn{
        margin-top: 0px;
    }
    .container{
        gap: 10px;
    }
}

@media(max-width:481px){
    .container{
        padding: 20px;
    }
    .container .card-container{
        width: 100%;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
