    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Poppins", sans-serif;
        background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
    }
    
    a {
        text-decoration: none;
    }
    
    .akash-logo {
        height: 50px;
        width: 150px;
        border-radius: 20px;
    }
    
    .next_section {
        height: 700px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .word>p>span {
        color: rgb(7, 1, 128);
    }
    
    .word .digital {
        color: antiquewhite;
    }
    
    .word>p {
        color: black;
        font-weight: 600;
        font-size: 55px;
    }
    
    .merchant {
        color: antiquewhite;
        font-size: 16px;
        width: 450px;
        flex-shrink: 1;
        font-weight: 500;
        display: flex;
    }
    
    .image img {
        border-radius: 15px;
    }
    
    .third_section {
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .third_section>p {
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        color: antiquewhite;
    }
    
    .grid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 75px;
    }
    
    .word,
    .image,
    .merchant {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
    
    .word.active,
    .image,
    .merchant.active {
        opacity: 1;
        transform: translateY(0);
    }
    
    .akash-logo:hover {
        cursor: pointer;
    }
    
    footer {
        /* height: 450px; */
        width: 100%;
        background-color: #1c1c1c;
    }
    
    footer .foot_one {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .about {
        display: flex;
        margin-top: 25px;
        gap: 25px;
        max-width: 30%;
        flex-direction: column;
        color: rgb(226, 225, 225);
    }
    
    .contact {
        color: aliceblue;
    }
    
    .contact th {
        color: rgb(255, 255, 255);
        font-size: 16px;
        margin-top: 10px;
        padding-right: 95px;
        padding-bottom: 25px;
    }
    
    .contact tr {
        font-size: 14px;
    }
    
    .contact td {
        padding-bottom: 10px;
        color: grey;
    }
    
    .contact td:hover {
        color: #4f88b1;
        cursor: pointer;
    }
    
    .getUs {
        height: 100px;
        text-align: center;
        font-size: 25px;
        color: #fffcfc;
    }
    
    .google_play:hover {
        cursor: pointer;
    }
    
    .credit {
        text-align: center;
        display: flex;
        margin: 0px 50px;
        justify-content: space-between;
        align-items: center;
    }
    
    .box i {
        margin-left: 10px;
        font-size: 26px;
    }
    
    .box i:hover {
        cursor: pointer;
        ;
    }
    
    .credit_tag {
        color: #cecece;
    }