* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
}

.pass {
    /* height: 60px; */
    width: 100%;
    background-color: rgb(18, 18, 221);
    display: flex;
    color: rgb(230, 229, 229);
    align-items: center;
    gap: 15px;
    padding: 12px;
}

.transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* background-color: #f0f0f0; */
}

.passbook {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debit {
    color: #ff6347;
}

.credit {
    color: #32cd32;
}