@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=DM+Serif+Display&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'DM Sans', sans-serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
    padding: 30px;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex-shrink: 0;
}
.bankLogo{
    width: 150px;
}


.img>img, .bankLogo>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.profile_r{
    width: 50%;
    margin-top: 30px;
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.user-details{
    width: 90%;
    height: auto;
    box-sizing: border-box;
    /* padding: 10px 70px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    gap: 20px;
}
.bankAndPayments{
    width: 90%;
    height: auto;
    box-sizing: border-box;
    /* padding: 10px 70px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    gap: 20px;
}

.docs{
    display: flex;
    flex-direction: column;
}
.docs>h2, #bankName{
    color: #0071bc;
}
#rewardsIcon{
    color: goldenrod;
    margin-right: 10px;
}
#totalRewards{
    color: green; 
    font-weight: 600; 
}
.allDetails{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px 70px 20px 14%;
}
.paymentMethods{
    padding : 5px;
    margin-top: 23px;
}
#cardTypes{
    text-decoration: none;
    color: black;
}
/* #cardTypes:hover{
    cursor: pointer;
    color: #0071bc;
} */
.pay{
    color: #0071bc;
    font-size: large;
    font-weight: 600;
}
.card{
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
.ico{
    padding-top: 3px;
}
.addPayMethods{
    height: 40px;
    border: 1px solid #0071bc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition-duration: .5s ease-in-out;
    padding:5px
}
.addPayMethods>a{
    color: #0071bc;
    font-weight: 600;
    text-decoration: none;
}
#other{
    margin: 10px 0;
    
}
.others{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#invite{
    text-decoration: none;
    color: black;
}
.gap{
    margin-right: 10px;
}
.user-details:hover, .allDetails:hover {
    cursor: pointer;
}
.addPayMethods:hover{
    cursor: pointer;
    background-color: #0884d725;
}
.logout{
    width: 100px;
    height: 30px;
    border: 1px solid #0071bc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition-duration: .5s ease-in-out;
    margin-top: 20px;
}
.logout>a{
    text-decoration: none;
    color: #0071bc;
    font-weight: 600;
}
.logout:hover{
    cursor: pointer;
    background-color: #0884d725;
}

.bankDetails{
    padding-left: 20px;
}


@media all and (max-width: 768px) {
    
    .profile_r{
        padding: 10px;
    }
    .profile_r, .user-details, .allDetails, .card, .addPayMethods{
        width: 90%;
        max-width: 100%;
    }
    .profile_r{
        height: auto;
        flex-direction: column;
    }
    .user-details, .bankDetails{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .allDetails{
        height: auto;
        padding: 10px;
    }
    .addPayMethods{
        width: 100%;
    }
    /* .bankAndPayments{
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
    } */
    .bankNotes{
        padding: 10px;
        
    }
    .img{
        margin : auto;
    }
}

@media (max-width: 481px) {
    .bankAndPayments{
        /* flex-direction: column; */
        display: unset;
        padding: 10px;
        
        /* justify-content: center; */
    }

}