.body1{
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%,60%,1)82%);
   min-height: 100vh;
   padding-top: 100px;

}
*{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
#container{
    display: flex;
    align-items: center;
   color: black;
   
}

#container button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right:10px ;
    


}
.fa-arrow-left{
    font-size: 25px;
    color: black;

}

#search{
    margin-left: 10px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000;
}

#contactdiv{

 border-radius: 20px 20px 0px 0px;
 
 margin: auto;
 padding: 20px;
 background-color: white;

 height: auto;
}
.contact-icon{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 1px;
}
#sort{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    border: 1px solid rgb(65,17,237);
    background-color: rgb(65,17,237);
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#sort:hover{
    background-color: white;
    color: rgb(65,17,237);
    border: 1px solid rgb(65,17,237);
}
#sort2{
    font-size: 15px;
    border: 1px solid rgb(65,17,237);
    background-color: rgb(65,17,237);
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#sort2:hover{
    background-color: white;
    color: rgb(65,17,237);
    border: 1px solid rgb(65,17,237);
    cursor: pointer;
}

.contactcard{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
.contactcard i{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(65,17,237);
    border-radius: 50%;
    padding: 10px;
    border: 2px solid rgb(65,17,237);
}

.contactcard p{
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}
.contactcard p:nth-child(1){
    margin-bottom: -10px;
}