* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    /* height: 100vh; */
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

img {
    width: 100px;
    border-radius: 50%;
}

.payment {
    width: 70%;
    height: 600px;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.upper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper > h4 {
    color: white;
    margin-bottom: 20px;
}

.upper > p {
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.inpt {
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    border: none;
    background-color: #eeeeee;
}
.amnt_req{
    width: 70%;
    margin-bottom: 10px;
    background-color: #eeeeee;
}

.lower {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    margin-top: 80px;
    border-radius: 25px 25px 0 0;
    animation: slideUp 1s ease; /* Added animation */
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.payInfo {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#payFrom,
#avaBalance {
    font-size: large;
    font-weight: bolder;
    color: #0071bc;
}

#fromType {
    font-size: medium;
}

#amnt {
    margin-left: 10px;
    color: green;
    font-size: 16px;
}

#payButton {
    width: 120px;
    height: 30px;
    border: 1px solid #0071bc;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#payButton > a {
    text-decoration: none;
    color: #0071bc;
}

#payButton:hover {
    cursor: pointer;
    background-color: #0071bc17;
}

#name{
    color: black;
    margin-top: 10px;
}

@media all and (max-width: 768px) {
    .payment {
        width: 90%;
        height: 600px;
    }
}
.toast{
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 15px;
    color: white;
    position: absolute;
     top: 10px;
    /* right: 0px;  */
    transform: translatex(-50%);
    left: 50%;
    z-index: 1000;
    animation: fadeInOut 1.2s ease-in-out;
}
.alert{
    background-color:#e23636;
    
}
.success{
    background-color: green;
    
}
.hiddentoast{
display: none;
}
.toast-close{
    color:white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    margin-left: 10px;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
       top: -100%;
    }
    100%{
      opacity: 1;
       /* top: 10%; */
    }
  }
  #backbtn{
    border: none;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    cursor: pointer;
    margin-right:10px ;
    /* backdrop-filter: blur(5px); */
}
.fa-arrow-left{
    padding: 25px;
    font-size: 40px;
    color: black;
    transform: translatey(-290px);
}  #backbtn{
    border: none;
    position: absolute;
    z-index: 1000;
    background-color: transparent;
    cursor: pointer;
    margin-right:10px ;
    /* backdrop-filter: blur(5px); */
}
.fa-arrow-left{
    padding: 25px;
    font-size: 40px;
    color: black;
    transform: translatey(-290px);
    
}