*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.akash-logo {
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.akash-logo:hover{
    cursor: pointer;
}
#logo_r{
    height: 60px;
    margin-left: 80px;
}
#pro:hover{
    color: white;
}
#notificationButton{
    box-sizing: border-box;
    margin-left: 5px;
}
#digi{
    color: #0071bc;
    font-weight: 700;
}
.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}

.main_part{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main_part >.hero-options_r{
    width: 60%;
    height: 60vh;
    padding: 20px;
    /* background-color: #dfdff3; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main_part >.details_r{
    width: 40%;
    height: 60vh;
    /* background-color: #dfdff3; */
    /* padding-right: 10px; */
}
.options_r{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap:20px;
    align-items: center;
}
#transaction{
    margin-bottom: 20px;
     font-weight: 600; 
     color: #0071bc
}
.box_r{
    width: 110px;
    height: 110px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .6s;
    background-color: white;
}
.box_r:hover{
    cursor: pointer;
}
.box_r>img{
    width: 50px;
    /* border-radius: 50%; */
}
.anchor1_r{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -50px; */
    font-size: larger;
    /* font-weight: 600; */
}
.anchor1_r:hover{
    cursor: pointer;
    color: white;
    background-color: #0071bc;
}
.anchor1_r>a{
    font-size: 14px;
    text-decoration: none;
    color: #0071bc;
}
.anchor1_r>a:hover{
    cursor: pointer;
    color: white;
}
.a_money{
    border: 1px solid #0071bc;
    background-color: #0080bc10;
}
/* .a_bank>a{
    color : rgb(85, 214, 59);
} */
.a_bank{
    border: 1px solid #0071bc;
    background-color: #0080bc10;
}
.a_more>a{
    color : #0071bc;
}
.a_more{
    border: 1px solid #0071bc;
    background-color: #0080bc10;
}
.a_passbook{
    border: 1px solid #0071bc;
    background-color: #0071bc0f;
}
.plus{
    transform: scale(5);
    color : #0071bc;
}
#user-name{
    color: #0071bc;
    font-weight: 900;
}

.transactions-wrapper{

}
.head{
    max-width: 100%;
    /* height: 200px; */
    background: linear-gradient(135deg, hsla(253, 87%, 50%, 1) 9%, hsla(197, 100%, 60%, 1) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.totalBalance{
    text-align: center;
     min-width: 60%;
     padding: 30px;
     gap:20px;
     background-color: rgba(255, 255, 255, 0.5);
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}
.total-balance>p{
    color : white;
    font-size: 18px;
    font-weight: bold;
}
.total-balance>h2{
    color : white;
    font-weight: bold;
}
#welcome{
    font-size: 18px;
    margin-top: 20px;
    color : white;
}
.send-button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #1352e4;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.send-button:hover{
    cursor: pointer;
    opacity: .9;
}
.send-button>i{
    margin-right: 7px;
}
.send-button>a{
    text-decoration: none;
    color : white;
}
.profile{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}
.profile>i{
    font-size: 50px;
    color: #1352e4;
}
.profile:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* //////////////////////////////////////////////////////////////////////////// */
.details_r{
    width: 40%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: auto;
}
.singlecustomer{
    /* width: 90%;
    height: 80px; */
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #fffcfc;
    border-radius: 10px;
    margin-bottom: 15px;
}
.image_r{
    width: 50px;
    height: 50px;
    border: 1px solid #0071bc;
    border-radius: 50%;
}
.image_r>img{
    width: 50px;
    border-radius: 50%;
}
.customerDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
    gap: 20px;
}
.common>h5{
    font-weight: bolder;
}
.dollar{
    color : rgb(13, 203, 19);
}


/* //////////////////////////////////////////////////////////////////////////// */

.transaction-container {
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto; 
}

.transaction {
    /* border: 1px solid; */
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.transaction-party{
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    color: white;
    border: 1px solid;
    background-color: greenyellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* ////////////////////////////////////////////////////////////////////////////// */
.recharge{
    height: 380px;
    background: #32c5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recharge>h1{
    margin-left: 5rem;
    color : white;
    margin-bottom: 30px;
}
.card-holder{
    display: flex;
    justify-content:space-evenly;
}
.cards1{
    width: 150px;
    height: 180px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.cards1:hover{
    background: #1c9dd0;
}
.rech{
    color : white;
    font-weight: 600;
    letter-spacing: .1rem;
}
.card{
    background: #32c5ff;
    border: none;
}
.img-div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-div>img{
    width: 60px;
}
.arrow{
    width: 7px;
    margin-left: 5px;
}
.Tickets{
    background-color: #4111ed;
}
.cards2:hover{
    background: #3609d6;
}

/* Footer */
footer {
    /* height: 450px; */
    width: 100%;
    background-color: #1c1c1c;
}

footer .foot_one {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    display: flex;
    margin-top: 35px;
    gap: 35px;
    max-width: 30%;
    flex-direction: column;
    color: rgb(226, 225, 225);
}

.contact {
    color: aliceblue;
}

.contact th {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 10px;
    padding-right: 95px;
    padding-bottom: 25px;
}

.contact tr {
    font-size: 14px;
}

.contact td {
    padding-bottom: 10px;
    color: grey;
}

.contact td:hover {
    color: #4f88b1;
    cursor: pointer;
}

.getUs {
    height: 100px;
    text-align: center;
    font-size: 25px;
    color: #fffcfc;
}

.google_play:hover {
    cursor: pointer;
}

.credit {
    text-align: center;
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
    align-items: center;
}

.box i {
    margin-left: 10px;
    font-size: 26px;
}

.box i:hover {
    cursor: pointer;
}

.credit_tag {
    color: #cecece;
}


/* Media Queries for responsiveness */
@media all and (max-width: 768px) {
    .head{
        height: auto;
    }
    .main_part {
        flex-direction: column;
    }


    .main_part > .hero-options_r,
    .main_part > .details_r {
        width: 100%;
        height: auto;
    }
    /* .total-balance{
        display:block;
    } */
    
    .main_part >.hero-options_r {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recharge {
        height: auto;
        padding: 20px;
    }
    .card-holder{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .foot_one {
        flex-direction: column;
        gap: 35px;
    }
    .about {
        max-width: 80%;
    }
    .anchor1_r{
        /* display:none; */
    }
}

/* .foot_one {
    flex-direction: column;
    gap: 35px;
}
.about {
    max-width: 100%;
} */